* {
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
}


/* nav styles */

nav .container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: none;
}

nav ul li {
    text-align: center;
}

.show-nav {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-left: 0;
}

.nav-background {
    background: #fff;
    /* width: 100%; */
    margin-bottom: 1px;
}

.toggle-nav {
    text-decoration: none;
    display: block;
    background: #fff;
}

li a {
    text-decoration: none;
    color: #c7266c;
    margin: 15px;
    letter-spacing: 4px;
}

a:hover {
    color: #810c3f;
}


/* body/html styles */

body,
html {
    height: 100%;
    background: #f3f2f2;
    /* margin: 5px; */
}


/* add new post green button  */

.add-post-btn {
    background: rgb(81, 238, 115);
    color: white;
    border-radius: 50%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 9px 25px -6px rgb(255, 0, 170);
    transition: 0.3s linear;
    margin-bottom: 25px;
    margin-right: 5px;
    font-size: 20px;
    position: relative;
    left: 15px;
}

.add-post-btn:hover {
    transform: translatey(2px);
    background: #129712;
}


/* header styles */

h1 {
    text-align: center;
    color: #ff007d;
    font-size: 82px;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'Niconne', cursive;
}


/* card styles */

.card {
    background: white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 100%;
    max-height: 325px;
}

.card p {
    text-align: center;
    font-family: Arial;
    margin-bottom: 5px;
    color: #cc0064;
    font-size: 22px;
    text-transform:  uppercase;
    margin-bottom: 12px;
    font-weight:  bold;
}

.card a i {
    margin: 5px;
}

.fa-times {
    background: #424141;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}


/* * /Lightbox background */

#lightbox {
    display: none;
    background: #000000;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    z-index: 1000;
    height: 100vh !important;
    position: fixed;
}


/* Lightbox panel with some content */

#lightbox-panel {
    display: none;
    position: fixed;
    top: 74px;
    left: 50%;
    margin-left: -200px;
    width: 463px;
    background: #FFFFFF;
    padding: 10px 15px 10px 15px;
    z-index: 1001;
    border-radius: 6px;
    /* margin-bottom:  50px; */
}

#lightbox-panel p {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 10px;
}

#lightbox-panel img {
    width: 101%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
    font-weight: bold;
    color: rgb(255, 67, 99);
}

.edit-btn {
    background: #424141;
    color: white;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}


/* media queries */

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    .card {
        flex: 1 1 450px;
        margin: 20px;
        transition: all .3s;
        max-width: 46%;
    }
    .card:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
    .nav-container {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .nav-container li {
        list-style-type: none;
    }
    .toggle-nav {
        display: none;
    }
    .nav-background {
        background: transparent;
    }
    .show-nav {
        position: static;
    }
}