* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

nav .container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.container li {
    list-style-type: none;
    margin: 5px;
}

li a {
    text-decoration: none;
    color: #c7266c;
    margin: 15px;
    letter-spacing: 4px;
}

a:visited {
    color: #c7266c;
}

body,
html {
    height: 100%;
    background: #f3f2f2;
    margin: 5px;
}

.card {
    background: white;
    border-radius: 3px;
    /* border: 3px solid rgb(255, 129, 25); */
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    text-align: center;
    color: #ff007d;
    font-size: 50px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
}

.card p {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }
    .card {
        flex: 1 1 450px;
        margin: 10px;
        transition: all .3s;
    }
    .card:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
}