* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

body,
html {
    height: 100%;
    margin: 0;
    background: rgb(255, 72, 88);
    background: linear-gradient(90deg, rgba(255, 72, 88, 1) 0%, rgba(238, 251, 108, 1) 100%);
}


/* nav rules  */

nav ul {
    list-style-type: none;
    display: none;
}

nav ul li {
    text-align: center;
}

li a {
    text-decoration: none;
    color: #324D5C;
    margin: 15px;
    letter-spacing: 3px;
}

.show-nav {
    display: block;
    position: absolute;
    margin-top: 0;
    padding-left: 0;
}

.nav-background {
    background: #fff;
    margin-bottom: 1px;
}

.toggle-nav {
    text-decoration: none;
    display: block;
    background: #fff;
}

li a:visited {
    color: #324D5C;
}

a:hover {
    color: #b5b4b2;
}


/* main rules  */

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50%;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FF4858;
    margin: 15px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #FF4858;
}

input::placeholder {
    color: lightgray;
    font-size: 16;
}

input::placeholder {
    font-size: 15px;
}

form {
    background: white;
    padding-bottom: 20px;
}


/* Go button rules */

button {
    cursor: pointer;
    width: 50%;
    margin-top: 25px;
    border: none;
    color: white;
    transition: all 0.5s;
    border-radius: 25px;
    background: rgb(255, 72, 88);
    background: linear-gradient(90deg, rgba(255, 72, 88, 1) 0%, rgba(238, 251, 108, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
}

.fa-angle-double-right {
    position: relative;
}


/* picture next to main screen */

.login-picture {
    height: 30%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1523904128325-33ea728b427b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f77dac92f3d550bb82d867156a33b38&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-picture h2 {
    color: white;
    font-weight: normal;
    text-align: center;
    left: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    letter-spacing: 5px;
    font-size: 10px;
}


/* Login or sign up text */

h1 {
    margin-top: 0;
    padding: 30px;
}

h1 a {
    text-decoration: none;
    color: #e8e7e4;
    font-weight: lighter;
    font-size: 22px;
}

span {
    font-weight: normal;
    font-size: 19px;
    color: #FF4858;
}


/* Add this class if login or signup is selected */

.selected {
    color: darkgray;
    font-weight: bold;
    border-bottom: 1px solid cyan;
    font-size: 26px;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        justify-content: flex-end;
    }
    .login-picture {
        width: 400px;
        height: 100%;
    }
    .login-picture h2 {
        font-size: 20px;
    }
    .nav-container {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .nav-container li {
        list-style-type: none;
        margin: 5px;
    }
    .toggle-nav {
        display: none;
    }
    .nav-background {
        background: transparent;
    }
    h2 {
        padding: 20px;
    }
}