* {
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1521189823702-255a7471ee5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8cb53525d2482e18e1fe4f6ee31482f&auto=format&fit=crop&w=1500&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* nav rules  */

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: none;
}

nav ul li {
    text-align: center;
}

li a {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    letter-spacing: 3px;
}

li a:visited {
    color: #fff;
}

li a:hover {
    color: #c9c5c0;
}

.show-nav {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-left: 0;
}

.nav-background {
    background: orangered;
    width: 100%;
    margin-bottom: 1px;
    /* color: #fff; */
}

.toggle-nav {
    text-decoration: none;
    display: block;
    background: orangered;
}


/* form styles */

textarea,
input {
    resize: none;
    outline: none;
    border-radius: 10px;
}

textarea {
    width: 80%;
}

input[type=text],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 5px rgb(81, 238, 115);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(81, 238, 115);
}

input[type=file] {
    display: block;
}

input[type=date] {
    border: 1px solid #DDDDDD;
    margin-bottom:  10px;
}

input[type=number] {
    border: 1px solid #DDDDDD;
}

.submit_btn {
    background: rgb(81, 238, 115);
    outline: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px 25px -5px #FF9800;
    transition: 0.3s linear;
}

.submit_btn:hover {
    transform: translatey(2px);
}

label {
    font-size: 15px;
    color: #989696;
    /* margin-top: 25px; */
}

form {
    background: white;
    text-align: center;
    padding-bottom: 40px;
}

h1 {
    font-family: 'Niconne', cursive;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1521189823702-255a7471ee5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8cb53525d2482e18e1fe4f6ee31482f&auto=format&fit=crop&w=1500&q=80");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 3px;
    font-size: 3.5em;
    margin: 0;
    padding: 50px;
}

.img-btn {
    /* background: rgb(61, 187, 89); */
    border: 2px solid rgb(61, 187, 89);
    outline: none;
    color: rgb(61, 187, 89);
    border-radius: 20px;
    padding: 3px;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 17px;
    /* border: none; */
    cursor: pointer;
    transition: all 0.2s;
}

.img-btn:hover {
    box-shadow: 0 0 0 1px #fdfdfd, 0 0 0 3px #2cb996;
}


/* media queries */

@media only screen and (min-width: 768px) {
    .nav-container {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .nav-container li {
        list-style-type: none;
        margin: 5px;
    }
    li a {
        color: white;
    }
    li a:visited {
        color: white;
    }
    .toggle-nav {
        display: none;
    }
    .nav-background {
        background: transparent;
    }
    header h1 {
        font-size: 50px;
    }
    main {
        display: flex;
        padding: 20px;
        justify-content: center;
    }
    form {
        border-radius: 10px;
    }
}