* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

nav .container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.container li {
    list-style-type: none;
    margin: 5px;
}

li a {
    text-decoration: none;
    color: #c7266c;
    margin: 15px;
}

a:visited {
    color: #c7266c;
}

body,
html {
    height: 100%;
    margin: 0;
    background: rgb(46, 17, 45);
    background: linear-gradient(58deg, rgba(46, 17, 45, 1) 0%, rgba(84, 0, 50, 1) 8%, rgba(130, 3, 51, 1) 23%, rgba(201, 40, 62, 1) 52%, rgba(240, 67, 58, 1) 82%);
}

form {
    background: whitesmoke;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover {
    color: #860c41;
}

textarea {
    resize: none;
    outline: none;
}